{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

{% if "user_email" in session %}
  <div>
    <h3>Rating</h3>

    <form action = "/rating/{{ movie.movie_id}}" method="POST">
      <input type="radio", name="rating", value="1">
      <label for="1">1</label>
      <input type="radio", name="rating", value="2">
      <label for="2">3</label>
      <input type="radio", name="rating", value="3">
      <label for="3">3</label>
      <input type="radio", name="rating", value="4">
      <label for="4">4</label>
      <input type="radio", name="rating", value="5">
      <label for="5">5</label>
      <button type="submit">Rate {{ movie.title }}</button>
    </form>

  </div>
{% endif %}

<p>
  {{ movie.overview }}
</p>

<img width = "500px" src="{{ movie.poster_path }}">
{% endblock %}